#root {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'math';
}

.app-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  width: 100%;
}

.page-container{
  height: 100%;
  width: 100%;
}

